body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .collection-heading .icon {
    cursor: default;
  }

  .collection-item .icon {
    cursor: pointer;
    vertical-align: middle;
  }

  .collection-heading {
    font-weight: bold;
    padding: 10px;
    background: #eee;
  }

  .collection-heading .icon {
    opacity: 0.3;
  }

  .collection-heading.row {
    margin-bottom: auto;
  }

  .collection-item .task-title, .collection-item .project-name, .task-header {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .collection-item a {
    vertical-align: middle;
  }

  .collection-item .large-text {
    max-height: 200px;
    overflow-y: scroll;
  }

  .elapsed-time {
    padding-right: 5px;
    color: #555;
  }
  
  .elapsed-time.counting {
    color: #000;
    font-size: 140%;
  }

  .collection-item .task-title::-webkit-scrollbar, .collection-item .project-title::-webkit-scrollbar,  .collection-item .project-name::-webkit-scrollbar, .task-header::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .react-datepicker__day--selected {
    background-color: green !important;
  }

  .error {
    transition: ease-in .3s;
    background: lightcoral;
    padding: 10px;
  }

  .success {
    transition: ease-in .3s;
    background: lightgreen;
    padding: 10px;
  }

  .container.home {
    width: 90%;
  }

  .link {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    color: #039be5;
    text-decoration: none;
  }

  .link:focus {
    background-color: transparent;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .list-of-projects {
    width: 30%;
  }

  .list-of-tasks {
    width: 70%;
  }

  .inline-block {
    display: inline-block;
    vertical-align: middle;
  }

  .inline-block > div {
    display: inline-block;
  }

  .inline-block > div .btn {
    margin-left: 5%;
  }

  .padding-up-and-down {
    padding: 40px 0.75rem !important;
  }

  .padding-up-and-down h4 {
    margin: 0;
    border-bottom: 5px solid #ee6e73;
    padding-bottom: 1rem;
    display: inline-block;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .sidenav {
    padding: 30px !important;
    width: 50% !important;
    height: 70vh !important;
    top: 5% !important;
  }

  .task-created {
    font-size: 80%;
    position: relative;
    color: #555;
  }

  .task-created .icon {
    opacity: 0.5;
  }

  .collection .collection-item {
    padding: 10px !important;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 40px;
    opacity: 0;
    transition: .5s ease;
    background: #fff;
  }

  .task-created:hover .overlay {
    opacity: 1;
  }

@media only screen and (max-width: 992px) {
    nav .brand-logo {
      left: inherit !important;
      -webkit-transform: translateX(0) !important;
      transform: translateX(0) !important;
      position: relative !important;
    }

    .sidenav {
      width: 50% !important;
    }
  }

  @media only screen and (max-width: 600px) {
    nav .brand-logo {
      font-size: 18px !important;
    }

    .sidenav {
      width: 85% !important;
    }
  }