body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .remove-icon {
    float: right;
    cursor: pointer;
  }

  .actions img, .icon {
    border: 0;
    cursor: pointer;
    background: transparent;
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }

  .icon {
    cursor: default;
  }

  .collection-item, .collection-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .collection-heading {
    font-weight: bold;
    padding: 10px 20px;
    background: #eee;
  }

  .collection-item .task-title, .collection-item .project-title {
    width: 50%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .collection-item .project-title {
    width: 33.333%;
  }

  .collection-item a {
    vertical-align: middle;
  }

  .collection-item .actions > div {
    display: inline-flex;
    vertical-align: middle;
  }

  .collection-item .large-text {
    max-height: 200px;
    overflow-y: scroll;
  }

  .collection-item .task-title, .collection-item .project-title {
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    /* width: 50%; */
  }

  .elapsed-time {
    padding: 0 30px;
  }

  .collection-item .task-title::-webkit-scrollbar,   .collection-item .project-title::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .react-datepicker__day--selected {
    background-color: green !important;
  }

  .error {
    transition: ease-in .3s;
    background: lightcoral;
    padding: 10px;
  }

  .container.home {
    width: 90%;
  }

  .link {
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    color: #039be5;
    text-decoration: none;
  }

  .link:focus {
    background-color: transparent;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .list-of-projects {
    width: 30%;
  }

  .list-of-tasks {
    width: 70%;
  }